openapi: 3.2.0
info:
  title: PersistIQ API V1 Tags API
  version: v1
  description: Public REST API for PersistIQ. Authenticate with your API key in the `x-api-key` header.
servers:
- url: https://api.persistiq.com
  description: Production
security:
- api_key: []
tags:
- name: Tags
paths:
  /v1/tags:
    get:
      summary: List tags
      tags:
      - Tags
      parameters:
      - name: page
        in: query
        required: false
        description: Page number for pagination
        schema:
          type: integer
      responses:
        '200':
          description: tags listed
          content:
            application/json:
              schema:
                type: object
                properties:
                  has_more:
                    type: boolean
                  next_page:
                    type:
                    - string
                    - 'null'
                  status:
                    type: string
                  errors:
                    type: array
                    items:
                      type: string
                  tags:
                    type: array
                    items:
                      $ref: '#/components/schemas/tag_type'
components:
  schemas:
    tag_type:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
  securitySchemes:
    api_key:
      type: apiKey
      name: x-api-key
      in: header
      description: API key found in Settings > Integrations > API Key
