openapi: 3.2.0
info:
  title: PersistIQ API V1 Webhook Plugin API
  version: v1
  description: Public REST API for PersistIQ. Authenticate with your API key in the `x-api-key` header.
servers:
- url: https://api.persistiq.com
  description: Production
security:
- api_key: []
tags:
- name: Webhook Plugin
paths:
  /v1/webhook_plugin:
    get:
      summary: Get webhook plugin settings
      tags:
      - Webhook Plugin
      responses:
        '200':
          description: webhook settings returned
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/webhook_plugin_type'
    put:
      summary: Update webhook plugin settings
      tags:
      - Webhook Plugin
      parameters: []
      responses:
        '200':
          description: webhook settings updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/webhook_plugin_type'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                post_new_prospect:
                  type: boolean
                  description: Enable webhook for new prospects
                post_new_prospect_url:
                  type: string
                  description: Webhook URL for new prospects
                post_updated_prospect:
                  type: boolean
                  description: Enable webhook for updated prospects
                post_updated_prospect_url:
                  type: string
                  description: Webhook URL for updated prospects
                raw_events:
                  type: boolean
                  description: Enable webhook for raw events
                raw_events_url:
                  type: string
                  description: Webhook URL for raw events
                post_email_reply:
                  type: boolean
                  description: Enable webhook for email reply received
                post_email_reply_url:
                  type: string
                  description: Webhook URL for email reply received
                post_email_opened:
                  type: boolean
                  description: Enable webhook for email opened
                post_email_opened_url:
                  type: string
                  description: Webhook URL for email opened
components:
  schemas:
    webhook_plugin_type:
      type: object
      properties:
        post_new_prospect:
          type: boolean
        post_new_prospect_url:
          type:
          - string
          - 'null'
        post_updated_prospect:
          type: boolean
        post_updated_prospect_url:
          type:
          - string
          - 'null'
        raw_events:
          type: boolean
        raw_events_url:
          type:
          - string
          - 'null'
        post_email_reply:
          type: boolean
        post_email_reply_url:
          type:
          - string
          - 'null'
        post_email_opened:
          type: boolean
        post_email_opened_url:
          type:
          - string
          - 'null'
  securitySchemes:
    api_key:
      type: apiKey
      name: x-api-key
      in: header
      description: API key found in Settings > Integrations > API Key
