openapi: 3.2.0
info:
  title: Persistiq Users API
  version: v1
  x-refined-note:
  - x-apisjson-generated differs across the merged source definitions and was not carried
  - x-apisjson-method differs across the merged source definitions and was not carried
  - x-apisjson-source differs across the merged source definitions and was not carried
  description: 'Operations tagged Users across 2 of this provider''s published API definitions: persistiq-api-v1-openapi.json, persistiq-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.persistiq.com
  description: Production
tags:
- name: Users
paths:
  /v1/users:
    get:
      summary: List all users
      tags:
      - Users
      parameters:
      - name: page
        in: query
        required: false
        description: Page number for pagination
        schema:
          type: integer
      responses:
        '200':
          description: users listed
          content:
            application/json:
              schema:
                type: object
                properties:
                  has_more:
                    type: boolean
                  next_page:
                    type:
                    - string
                    - 'null'
                  status:
                    type: string
                  errors:
                    type: array
                    items:
                      type: string
                  users:
                    type: array
                    items:
                      $ref: '#/components/schemas/user_type'
        '401':
          description: unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response'
      security:
      - api_key: []
      operationId: getV1Users
      x-operation-id-source: derived
    servers:
    - url: https://api.persistiq.com
      description: Production
components:
  schemas:
    user_type:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        email:
          type: string
        activated:
          type: boolean
        salesforce_id:
          type:
          - string
          - 'null'
        default_mailbox_id:
          type:
          - string
          - 'null'
        mailboxes:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
              email:
                type: string
              campaign_ids:
                type: array
                items:
                  type: string
    error_response:
      type: object
      properties:
        status:
          type: string
          example: error
        error:
          type: object
          properties:
            reason:
              type: string
            message:
              type: string
    User:
      type: object
      properties:
        id:
          type: string
          example: u_q3e537
        name:
          type: string
        email:
          type: string
          format: email
        activated:
          type: boolean
        default_mailbox_id:
          type:
          - string
          - 'null'
        salesforce_id:
          type:
          - string
          - 'null'
    Error:
      type: object
      properties:
        status:
          type: string
          example: error
        error:
          type: object
          properties:
            reason:
              type: string
              description: Error type. Values include invalid_request_error, api_error, bad_params, invalid_request, too_many_requests.
            message:
              type: string
  responses:
    ServerError:
      description: Internal Server Error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    TooManyRequests:
      description: Too Many Requests - more than 100 requests were sent in one minute.
      headers:
        X-RateLimit-Limit:
          description: Maximum allowed requests per minute.
          schema:
            type: integer
        X-RateLimit-Remaining:
          description: Requests left for the current window.
          schema:
            type: integer
        X-RateLimit-Reset:
          description: UTC epoch seconds when the window resets.
          schema:
            type: integer
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Unauthorized:
      description: Unauthorized - your API key is wrong
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  securitySchemes:
    api_key:
      type: apiKey
      name: x-api-key
      in: header
      description: API key found in Settings > Integrations > API Key
    ApiKeyAuth:
      type: apiKey
      in: header
      name: x-api-key
      description: Company-wide API key. Grants access to read and write all users' data within the company. Include it in the header of every request.
x-refined-from:
- persistiq-api-v1-openapi.json
- persistiq-openapi.yml
