openapi: 3.2.0
info:
  title: Persistiq Lead Statuses API
  version: v1
  x-refined-note:
  - x-apisjson-generated differs across the merged source definitions and was not carried
  - x-apisjson-method differs across the merged source definitions and was not carried
  - x-apisjson-source differs across the merged source definitions and was not carried
  description: 'Operations tagged Lead Statuses across 2 of this provider''s published API definitions: persistiq-api-v1-openapi.json, persistiq-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.persistiq.com
  description: Production
tags:
- name: Lead Statuses
paths:
  /v1/lead_statuses:
    get:
      summary: List lead statuses
      tags:
      - Lead Statuses
      responses:
        '200':
          description: lead statuses listed
          content:
            application/json:
              schema:
                type: object
                properties:
                  has_more:
                    type: boolean
                  next_page:
                    type:
                    - string
                    - 'null'
                  status:
                    type: string
                  errors:
                    type: array
                    items:
                      type: string
                  lead_statuses:
                    type: array
                    items:
                      $ref: '#/components/schemas/lead_status_type'
      security:
      - api_key: []
      operationId: getV1LeadStatuses
      x-operation-id-source: derived
    servers:
    - url: https://api.persistiq.com
      description: Production
components:
  schemas:
    lead_status_type:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
    Error:
      type: object
      properties:
        status:
          type: string
          example: error
        error:
          type: object
          properties:
            reason:
              type: string
              description: Error type. Values include invalid_request_error, api_error, bad_params, invalid_request, too_many_requests.
            message:
              type: string
    LeadStatus:
      type: object
      properties:
        id:
          type: string
          example: lss_3kJ5MN
        name:
          type: string
          example: engaged
  responses:
    Unauthorized:
      description: Unauthorized - your API key is wrong
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    TooManyRequests:
      description: Too Many Requests - more than 100 requests were sent in one minute.
      headers:
        X-RateLimit-Limit:
          description: Maximum allowed requests per minute.
          schema:
            type: integer
        X-RateLimit-Remaining:
          description: Requests left for the current window.
          schema:
            type: integer
        X-RateLimit-Reset:
          description: UTC epoch seconds when the window resets.
          schema:
            type: integer
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    ServerError:
      description: Internal Server Error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  securitySchemes:
    api_key:
      type: apiKey
      name: x-api-key
      in: header
      description: API key found in Settings > Integrations > API Key
    ApiKeyAuth:
      type: apiKey
      in: header
      name: x-api-key
      description: Company-wide API key. Grants access to read and write all users' data within the company. Include it in the header of every request.
x-refined-from:
- persistiq-api-v1-openapi.json
- persistiq-openapi.yml
