openapi: 3.2.0
info:
  title: Persistiq Events API
  version: v1
  x-refined-note:
  - x-apisjson-generated differs across the merged source definitions and was not carried
  - x-apisjson-method differs across the merged source definitions and was not carried
  - x-apisjson-source differs across the merged source definitions and was not carried
  description: 'Operations tagged Events across 2 of this provider''s published API definitions: persistiq-api-v1-openapi.json, persistiq-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.persistiq.com
  description: Production
tags:
- name: Events
paths:
  /v1/events:
    get:
      summary: List events
      tags:
      - Events
      parameters:
      - name: page
        in: query
        required: false
        description: Page number for pagination
        schema:
          type: integer
      - name: group
        in: query
        required: false
        description: Filter by event group
        schema:
          type: string
      - name: campaign
        in: query
        required: false
        description: Filter by campaign hashed ID
        schema:
          type: string
      - name: lead
        in: query
        required: false
        description: Filter by lead hashed ID
        schema:
          type: string
      - name: user
        in: query
        required: false
        description: Filter by user hashed ID
        schema:
          type: string
      - name: start_at
        in: query
        required: false
        description: Filter events after this ISO 8601 timestamp
        schema:
          type: string
      - name: end_at
        in: query
        required: false
        description: Filter events before this ISO 8601 timestamp
        schema:
          type: string
      responses:
        '200':
          description: events listed
          content:
            application/json:
              schema:
                type: object
                properties:
                  has_more:
                    type: boolean
                  next_page:
                    type:
                    - string
                    - 'null'
                  status:
                    type: string
                  errors:
                    type: array
                    items:
                      type: string
                  events:
                    type: array
                    items:
                      $ref: '#/components/schemas/event_type'
      security:
      - api_key: []
      operationId: getV1Events
      x-operation-id-source: derived
    servers:
    - url: https://api.persistiq.com
      description: Production
components:
  schemas:
    event_type:
      type: object
      properties:
        id:
          type: string
        event_type:
          type: string
        data:
          type: object
          additionalProperties: {}
        created_at:
          type: string
    User:
      type: object
      properties:
        id:
          type: string
          example: u_q3e537
        name:
          type: string
        email:
          type: string
          format: email
        activated:
          type: boolean
        default_mailbox_id:
          type:
          - string
          - 'null'
        salesforce_id:
          type:
          - string
          - 'null'
    Error:
      type: object
      properties:
        status:
          type: string
          example: error
        error:
          type: object
          properties:
            reason:
              type: string
              description: Error type. Values include invalid_request_error, api_error, bad_params, invalid_request, too_many_requests.
            message:
              type: string
    Event:
      type: object
      properties:
        id:
          type: string
          example: evt_g3gZjN
        kind:
          type: string
          example: lead_created
        event_at:
          type: string
          format: date-time
        user_id:
          type: string
        user:
          $ref: '#/components/schemas/User'
        campaign:
          type:
          - object
          - 'null'
        lead:
          type:
          - object
          - 'null'
        params:
          type:
          - object
          - 'null'
        diff:
          type:
          - object
          - 'null'
  responses:
    ServerError:
      description: Internal Server Error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    TooManyRequests:
      description: Too Many Requests - more than 100 requests were sent in one minute.
      headers:
        X-RateLimit-Limit:
          description: Maximum allowed requests per minute.
          schema:
            type: integer
        X-RateLimit-Remaining:
          description: Requests left for the current window.
          schema:
            type: integer
        X-RateLimit-Reset:
          description: UTC epoch seconds when the window resets.
          schema:
            type: integer
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Unauthorized:
      description: Unauthorized - your API key is wrong
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  securitySchemes:
    api_key:
      type: apiKey
      name: x-api-key
      in: header
      description: API key found in Settings > Integrations > API Key
    ApiKeyAuth:
      type: apiKey
      in: header
      name: x-api-key
      description: Company-wide API key. Grants access to read and write all users' data within the company. Include it in the header of every request.
x-refined-from:
- persistiq-api-v1-openapi.json
- persistiq-openapi.yml
