openapi: 3.1.0
info:
  title: PersistIQ API
  version: v1
  description: >-
    The PersistIQ API is a REST API for the PersistIQ sales engagement platform.
    It exposes users, leads (prospects), lead statuses and fields, campaigns
    (including adding and removing leads), activity events, and Do Not Contact
    (DNC) domains. Authentication is a company-wide API key sent in the
    `x-api-key` request header. Responses are JSON with a `status`/`errors`
    envelope, cursor pagination via `has_more` + `next_page`, and a per-key rate
    limit of 100 requests per minute surfaced through `X-RateLimit-*` headers.
    This specification was derived faithfully from PersistIQ's published API
    reference (apidocs.persistiq.com) and captures the documented request and
    response surface; it is not an official PersistIQ-published OpenAPI file.
  contact:
    name: PersistIQ
    url: https://persistiq.com
  x-apisjson-generated: '2026-07-20'
  x-apisjson-method: derived
  x-apisjson-source: https://apidocs.persistiq.com/
servers:
  - url: https://api.persistiq.com
    description: Production
security:
  - ApiKeyAuth: []
tags:
  - name: Users
    description: Company users
  - name: Leads
    description: Leads (prospects)
  - name: Lead Statuses
    description: Lead status definitions
  - name: Lead Fields
    description: Lead field definitions
  - name: Campaigns
    description: Outreach campaigns
  - name: Events
    description: Activity events
  - name: Do Not Contact Domains
    description: Suppressed domains
paths:
  /v1/users:
    get:
      operationId: listUsers
      summary: List all users
      description: Retrieves all non-archived users in your company.
      tags: [Users]
      responses:
        '200':
          description: A list of users
          content:
            application/json:
              schema:
                type: object
                properties:
                  status: { type: string, example: success }
                  errors: { type: array, items: {} }
                  users:
                    type: array
                    items: { $ref: '#/components/schemas/User' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '429': { $ref: '#/components/responses/TooManyRequests' }
        '500': { $ref: '#/components/responses/ServerError' }
  /v1/leads:
    get:
      operationId: listLeads
      summary: List leads
      description: >-
        Retrieves leads for your company. Each response contains a maximum of
        100 leads; when more exist, `has_more` is true and `next_page` holds the
        URL for the next page.
      tags: [Leads]
      parameters:
        - name: status
          in: query
          required: false
          description: Filters leads by status name.
          schema: { type: string, example: active }
        - name: updated_after
          in: query
          required: false
          description: Gets leads updated after the specified time.
          schema: { type: string, format: date-time, example: '2017-10-17T07:37:00-07:00' }
      responses:
        '200':
          description: A page of leads
          content:
            application/json:
              schema:
                type: object
                properties:
                  status: { type: string, example: success }
                  errors: { type: array, items: {} }
                  has_more: { type: boolean }
                  next_page: { type: [string, 'null'] }
                  leads:
                    type: array
                    items: { $ref: '#/components/schemas/Lead' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '429': { $ref: '#/components/responses/TooManyRequests' }
        '500': { $ref: '#/components/responses/ServerError' }
    post:
      operationId: createLeads
      summary: Create leads
      description: >-
        Creates leads, up to 10 at a time. If a lead with the same email already
        exists, use `dup` = `update` or `skip` to control duplicate handling.
      tags: [Leads]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [leads]
              properties:
                dup:
                  type: string
                  enum: [skip, update]
                  default: skip
                  description: Duplicate handling strategy.
                creator_id:
                  type: string
                  description: ID of the user creating the leads.
                leads:
                  type: array
                  maxItems: 10
                  items: { $ref: '#/components/schemas/LeadData' }
      responses:
        '200':
          description: Created leads (with per-lead errors, if any)
          content:
            application/json:
              schema:
                type: object
                properties:
                  status: { type: string }
                  errors: { type: array, items: {} }
                  leads:
                    type: array
                    items: { $ref: '#/components/schemas/Lead' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '429': { $ref: '#/components/responses/TooManyRequests' }
        '500': { $ref: '#/components/responses/ServerError' }
  /v1/leads/{lead_id}:
    get:
      operationId: getLead
      summary: View a single lead
      tags: [Leads]
      parameters:
        - name: lead_id
          in: path
          required: true
          schema: { type: string, example: l_1abc }
      responses:
        '200':
          description: A single lead
          content:
            application/json:
              schema:
                type: object
                properties:
                  status: { type: string }
                  errors: { type: [array, 'null'], items: {} }
                  leads:
                    type: array
                    items: { $ref: '#/components/schemas/Lead' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
        '429': { $ref: '#/components/responses/TooManyRequests' }
        '500': { $ref: '#/components/responses/ServerError' }
    put:
      operationId: updateLead
      summary: Update a lead
      description: >-
        Updates a single lead. If `status` or `status_id` are specified, the
        lead's status changes. The `data` hash sets custom and built-in lead
        attributes.
      tags: [Leads]
      parameters:
        - name: lead_id
          in: path
          required: true
          schema: { type: string, example: l_1abc }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                status: { type: string, description: Name of lead status. }
                status_id: { type: string, description: ID of lead status. }
                bounced: { type: boolean, description: Sets the lead as bounced. }
                optedout: { type: boolean, description: Sets the lead as opted out. }
                data:
                  type: object
                  description: Hash of lead data attributes.
      responses:
        '200':
          description: The updated lead
          content:
            application/json:
              schema:
                type: object
                properties:
                  status: { type: string }
                  error: { type: [object, 'null'] }
                  lead: { $ref: '#/components/schemas/Lead' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
        '429': { $ref: '#/components/responses/TooManyRequests' }
        '500': { $ref: '#/components/responses/ServerError' }
  /v1/lead_statuses:
    get:
      operationId: listLeadStatuses
      summary: List all lead statuses
      tags: [Lead Statuses]
      responses:
        '200':
          description: Lead statuses for your company
          content:
            application/json:
              schema:
                type: object
                properties:
                  status: { type: string }
                  errors: { type: array, items: {} }
                  lead_statuses:
                    type: array
                    items: { $ref: '#/components/schemas/LeadStatus' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '429': { $ref: '#/components/responses/TooManyRequests' }
        '500': { $ref: '#/components/responses/ServerError' }
  /v1/lead_fields:
    get:
      operationId: listLeadFields
      summary: List all lead fields
      tags: [Lead Fields]
      responses:
        '200':
          description: Lead fields for your company
          content:
            application/json:
              schema:
                type: object
                properties:
                  status: { type: string }
                  errors: { type: array, items: {} }
                  lead_fields:
                    type: array
                    items: { $ref: '#/components/schemas/LeadField' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '429': { $ref: '#/components/responses/TooManyRequests' }
        '500': { $ref: '#/components/responses/ServerError' }
  /v1/campaigns:
    get:
      operationId: listCampaigns
      summary: List campaigns
      description: >-
        Retrieves campaigns. Each response contains a maximum of 100 campaigns;
        when more exist, `has_more` is true and `next_page` holds the next URL.
      tags: [Campaigns]
      parameters:
        - name: lead_id
          in: query
          required: false
          description: Campaigns which the lead belongs to.
          schema: { type: string }
        - name: owner_id
          in: query
          required: false
          description: Campaigns with owner that has the specified ID.
          schema: { type: string }
        - name: name
          in: query
          required: false
          description: Campaigns with the specified name.
          schema: { type: string }
      responses:
        '200':
          description: A page of campaigns
          content:
            application/json:
              schema:
                type: object
                properties:
                  status: { type: string }
                  errors: { type: array, items: {} }
                  has_more: { type: boolean }
                  next_page: { type: [string, 'null'] }
                  campaigns:
                    type: array
                    items: { $ref: '#/components/schemas/Campaign' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '429': { $ref: '#/components/responses/TooManyRequests' }
        '500': { $ref: '#/components/responses/ServerError' }
  /v1/campaigns/{campaign_id}/leads:
    post:
      operationId: addLeadsToCampaign
      summary: Add leads to a campaign
      description: >-
        Adds up to 100 leads to a campaign. If more than 100 lead ids are
        provided, the API responds with 400 Bad Request.
      tags: [Campaigns]
      parameters:
        - name: campaign_id
          in: path
          required: true
          schema: { type: string, example: c_9lWrpz }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                mailbox_id:
                  type: string
                  description: ID of the mailbox to which the lead should be added.
                lead_id:
                  type: string
                  description: A single lead id (required if `leads` is not given).
                leads:
                  type: array
                  description: Array of lead ids (required if `lead_id` is not given).
                  items:
                    type: object
                    properties:
                      id: { type: string }
      responses:
        '200':
          description: Campaign leads created (with per-lead errors, if any)
          content:
            application/json:
              schema:
                type: object
                properties:
                  status: { type: string }
                  errors: { type: array, items: {} }
                  campaign_leads:
                    type: array
                    items: { $ref: '#/components/schemas/CampaignLead' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '429': { $ref: '#/components/responses/TooManyRequests' }
        '500': { $ref: '#/components/responses/ServerError' }
  /v1/campaigns/{campaign_id}/leads/{lead_id}:
    delete:
      operationId: removeLeadFromCampaign
      summary: Remove a lead from a campaign
      tags: [Campaigns]
      parameters:
        - name: campaign_id
          in: path
          required: true
          schema: { type: string, example: c_9lWrpz }
        - name: lead_id
          in: path
          required: true
          schema: { type: string, example: l_9N2XDp }
      responses:
        '200':
          description: Lead removed from campaign
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
        '429': { $ref: '#/components/responses/TooManyRequests' }
        '500': { $ref: '#/components/responses/ServerError' }
  /v1/events:
    get:
      operationId: listEvents
      summary: List events
      description: >-
        Retrieves activity events. Each response contains a maximum of 500
        events; when more exist, `has_more` is true and `next_page` holds the
        next URL.
      tags: [Events]
      parameters:
        - name: group
          in: query
          required: false
          description: >-
            The group of events to return. One of `campaign`, `settings`, or
            `lead_detail`.
          schema: { type: string, enum: [campaign, settings, lead_detail] }
        - name: campaign
          in: query
          required: false
          description: Filters events about a specific campaign.
          schema: { type: string }
        - name: lead
          in: query
          required: false
          description: Filters events about a certain lead.
          schema: { type: string }
        - name: user
          in: query
          required: false
          description: Filters events performed by a certain user.
          schema: { type: string }
        - name: start_at
          in: query
          required: false
          description: Gets events after the specified time.
          schema: { type: string, format: date-time }
        - name: end_at
          in: query
          required: false
          description: Gets events before the specified time.
          schema: { type: string, format: date-time }
      responses:
        '200':
          description: A page of events
          content:
            application/json:
              schema:
                type: object
                properties:
                  status: { type: string }
                  errors: { type: array, items: {} }
                  has_more: { type: boolean }
                  next_page: { type: [string, 'null'] }
                  events:
                    type: array
                    items: { $ref: '#/components/schemas/Event' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '429': { $ref: '#/components/responses/TooManyRequests' }
        '500': { $ref: '#/components/responses/ServerError' }
  /v1/dnc_domains:
    get:
      operationId: listDncDomains
      summary: List all Do Not Contact domains
      description: >-
        Do Not Contact domains prevent email being sent to email addresses at
        their domain. Each response contains a maximum of 100 domains.
      tags: [Do Not Contact Domains]
      responses:
        '200':
          description: A page of DNC domains
          content:
            application/json:
              schema:
                type: object
                properties:
                  status: { type: string }
                  errors: { type: array, items: {} }
                  has_more: { type: boolean }
                  next_page: { type: [string, 'null'] }
                  dnc_domains:
                    type: array
                    items: { $ref: '#/components/schemas/DncDomain' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '429': { $ref: '#/components/responses/TooManyRequests' }
        '500': { $ref: '#/components/responses/ServerError' }
    post:
      operationId: createDncDomain
      summary: Create a Do Not Contact domain
      description: >-
        Creates a Do Not Contact domain, preventing emails from being sent
        (without manual approval) to email addresses at this domain.
      tags: [Do Not Contact Domains]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name]
              properties:
                name: { type: string, description: Do Not Contact domain name. }
      responses:
        '200':
          description: The created DNC domain
          content:
            application/json:
              schema:
                type: object
                properties:
                  status: { type: string }
                  errors: { type: [array, 'null'], items: {} }
                  dnc_domain: { $ref: '#/components/schemas/DncDomain' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '429': { $ref: '#/components/responses/TooManyRequests' }
        '500': { $ref: '#/components/responses/ServerError' }
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: x-api-key
      description: >-
        Company-wide API key. Grants access to read and write all users' data
        within the company. Include it in the header of every request.
  responses:
    BadRequest:
      description: Bad Request - missing a required parameter
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
    Unauthorized:
      description: Unauthorized - your API key is wrong
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
    NotFound:
      description: Not Found - the specified data could not be found
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
    TooManyRequests:
      description: >-
        Too Many Requests - more than 100 requests were sent in one minute.
      headers:
        X-RateLimit-Limit:
          description: Maximum allowed requests per minute.
          schema: { type: integer }
        X-RateLimit-Remaining:
          description: Requests left for the current window.
          schema: { type: integer }
        X-RateLimit-Reset:
          description: UTC epoch seconds when the window resets.
          schema: { type: integer }
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
    ServerError:
      description: Internal Server Error
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
  schemas:
    User:
      type: object
      properties:
        id: { type: string, example: u_q3e537 }
        name: { type: string }
        email: { type: string, format: email }
        activated: { type: boolean }
        default_mailbox_id: { type: [string, 'null'] }
        salesforce_id: { type: [string, 'null'] }
    LeadData:
      type: object
      required: [email]
      properties:
        email: { type: string, format: email }
        first_name: { type: [string, 'null'] }
        last_name: { type: [string, 'null'] }
        company_name: { type: [string, 'null'] }
        address: { type: [string, 'null'] }
        city: { type: [string, 'null'] }
        state: { type: [string, 'null'] }
        phone: { type: [string, 'null'] }
        title: { type: [string, 'null'] }
        industry: { type: [string, 'null'] }
        snippet: { type: [string, 'null'] }
        snippet2: { type: [string, 'null'] }
        snippet3: { type: [string, 'null'] }
        snippet4: { type: [string, 'null'] }
    Lead:
      type: object
      properties:
        id: { type: string, example: l_abc001 }
        status: { type: string, example: active }
        bounced: { type: [boolean, string] }
        data: { $ref: '#/components/schemas/LeadData' }
    LeadStatus:
      type: object
      properties:
        id: { type: string, example: lss_3kJ5MN }
        name: { type: string, example: engaged }
    LeadField:
      type: object
      properties:
        id: { type: string, example: lcf_3kJ5MN }
        name: { type: string, example: email }
        label: { type: string, example: email }
    Campaign:
      type: object
      properties:
        id: { type: string, example: c_9N9GpR }
        name: { type: string }
        creator: { $ref: '#/components/schemas/User' }
        stats:
          type: object
          properties:
            prospects_contacted: { type: integer }
            prospects_reached: { type: integer }
            prospects_opened: { type: integer }
            prospects_replied: { type: integer }
            prospects_bounced: { type: integer }
            prospects_optedout: { type: integer }
    CampaignLead:
      type: object
      properties:
        id: { type: string, example: cl_abc001 }
        campaign_id: { type: string }
        mailbox_id: { type: string }
        lead: { $ref: '#/components/schemas/Lead' }
    Event:
      type: object
      properties:
        id: { type: string, example: evt_g3gZjN }
        kind: { type: string, example: lead_created }
        event_at: { type: string, format: date-time }
        user_id: { type: string }
        user: { $ref: '#/components/schemas/User' }
        campaign: { type: [object, 'null'] }
        lead: { type: [object, 'null'] }
        params: { type: [object, 'null'] }
        diff: { type: [object, 'null'] }
    DncDomain:
      type: object
      properties:
        id: { type: string, example: dom_3eWoGj }
        name: { type: string, example: example.com }
    Error:
      type: object
      properties:
        status: { type: string, example: error }
        error:
          type: object
          properties:
            reason:
              type: string
              description: >-
                Error type. Values include invalid_request_error, api_error,
                bad_params, invalid_request, too_many_requests.
            message: { type: string }
